
/* styles assigned to html elements */
body {
  background-color: #ffffff;
  font-family: Helvetica;
  font-size: 1em;
  color: black;
}

h1 {font-weight: bold;}

p {
  color: black;
}

/* styles assigned to the #id */
#static_content{
  background-color: lightgrey;
}

/* styles assigned .class */
.blueclass {
  color: blue;
}

.redclass {
  color: red;
}
