<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<title>Vue: Forms</title>
</head>

<body>

  <div id="app">
    {{ checkedName }} <br/>
    <input type="radio" id="luke" value="Luke" v-model="checkedName">
    <label for="luke">Luke</label>
    <input type="radio" id="yoda" value="Yoda" v-model="checkedName">
    <label for="yoda">Yoda</label>
    <input type="radio" id="obiwan" value="Obiwan" v-model="checkedName">
    <label for="obiwan">Obiwan</label><br/>
  </div>


  <script type="text/javascript">

  var app = new Vue({
    el: '#app',
    data: {
      checkedName: "Yoda"
    }
  });

  </script>

</body>
</html>
